certifi==2024.7.4
chardet==5.1.0
charset-normalizer==3.1.0
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
idna==3.7
packaging==23.1
PyAudio==0.2.13
pydub==0.25.1
python-dotenv==1.0.0
python-magic==0.4.27
requests==2.32.0
six==1.16.0
toml==0.10.2
urllib3==2.2.2
